@model List<CarAllViewModel>

@{
	ViewBag.Title = "My sold cars";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (!Model.Any())
{
	<h2 class="text-center">No sold cars!</h2>
}

<div class="row">
	@foreach (var car in Model)
	{
		<partial name="_CarPartial" model="@car" />
	}
</div>
