<div class="mt-4 text-center">
	<a asp-area="" asp-controller="Car" asp-action="Mine"
	   class="btn btn-primary btn-lg">Garage</a>
	<a asp-area="" asp-controller="Car" asp-action="CarsForSale"
	   class="btn btn-primary btn-lg">Cars for sale</a>
	<a asp-area="" asp-controller="Transaction" asp-action="MyBoughtCars"
	   class="btn btn-primary btn-lg">Bought cars</a>
	<a asp-area="" asp-controller="Transaction" asp-action="MySoldCars"
	   class="btn btn-primary btn-lg">Sold cars</a>
</div>
<hr />