@model List<CarAllViewModel>

@{
	ViewBag.Title = "My cars for sale";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_MyCarsButtons"/>

@if (!Model.Any())
{
	<h2 class="text-center">No cars for sale!</h2>
}

<div class="row">
	@foreach (var car in Model)
	{
		<partial name="_CarPartial" model="@car" />
	}
</div>
