@model List<CarAllViewModel>

@{
	ViewBag.Title = "My Cars";
}

<h2 class="text-center">@ViewBag.Title</h2>

@if (!Model.Any())
{
	<h2 class="text-center">No cars found in your garage!</h2>
}

<div class="row">
	@foreach (var car in Model)
	{
		<partial name="_CarPartial" model="@car" />
	}
</div>
